.parent {
  border: 3px solid red;
  height: 300px;
  width: 400px;
  display:flex;
  flex-direction: column;
  padding-bottom: none;
  justify-content: space-around
}

.outer_box {
  display: flex;
  justify-content: center;
}

.box {
  background: yellow;
  width: 80px;
  height: 80px;
  border: 2px solid blue;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 6px 6px red; 
  margin: 10px;
}
.rectangle {
  width: 300px;
  height: 100px;
  border: 3px solid rgb(123, 19, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
